<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>header-section</title>
    <link rel="stylesheet" href="../style.css" />
    <link rel="stylesheet" href="../styles/header.css" />
  </head>
  <body>
    <div class="topButtons">
      <button>CLOSE</button>
      <img id="logo-big" src="../assets/team_2_logo_big.png"></img>
      <button>CART</button>
    </div>
    <div class="topMeun">
      <ul>
        <li>
          <a href="#"><span>SHOP</span>&nbsp<span>ALL</span> </a>
        </li>
        <li>
          <a href="#"><span>WOMEN'S</span>&nbsp<span>CLOTHES</span> </a>
        </li>
        <li>
          <a href="#"><span>MEN'S</span>&nbsp<span>CLOTHES</span></a>
        </li>
        <li><a href="#">JEWELRY</a></li>
        <li><a href="#">ELECTRONICS</a></li>
      </ul>
    </div>
  </body>
</html>
