  <header>
    <div class="topButtons">
      <button id="close-btn" class="span-color">CLOSE</button>
      <img id="logo-big" class="span-color" src="../assets/team_2_logo_big.png"></img>
      <button id="cart-btn" class="span-color">CART</button>
    </div>
    <div class="topMenu">
      <ul>
        <li>
          <a id="shop-all-btn" class="shopBtn" data-bg="../assets/img/main-pic.jpg" href="#">
            <div class="span-color">
              <span>SHOP</span>&nbsp<span>ALL</span>
            </div>
          </a>
        </li>
        <li>
          <a id="woman-clothes-btn" class="shopBtn" data-bg="../assets/img/woman-clothes.jpg" href="#">
            <div class="span-color">
              <span>WOMEN'S</span>&nbsp<span>CLOTHES</span>
            </div>
          </a>
        </li>
        <li>
          <a id="man-clothes" class="shopBtn" data-bg="../assets/img/man-clothes.jpg" href="#">
            <div class="span-color">
              <span>MEN'S</span>&nbsp<span>CLOTHES</span>
            </div>
          </a>
        </li>
        <li><a id="jeweley-btn" class="shopBtn " data-bg="../assets/img/jewelry.jpg" href="#">
            <div class="span-color">JEWELRY</div>
          </a></li>
        <li><a id="electronices-btn" class="shopBtn " data-bg="../assets/img/electronic.jpg" href="#">
            <div class="span-color">ELECTRONICS</div>
          </a></li>
      </ul>
    </div>
    <script src="../scripts/header/header.js"></script>
  </header>
</body>